<a href="https://colab.research.google.com/github/GavishKapoor/DATA-TYPES-AND-STRUCTURES/blob/main/DATA_TYPES_AND_STRUCTURE_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Theory question

In [56]:
# 1. What are data structures, and why are they important?

# Data structures are ways to organize and store data efficiently.

#  Why are they important---
# They help in storing, accessing, and managing data efficiently.
# Examples: Lists, Tuples, Dictionaries, Sets.

In [58]:
# 2. Difference between Mutable and Immutable Data Types

# Mutable: Can be changed after creation (e.g., lists, dictionaries, sets).
# Immutable: Cannot be changed after creation (e.g., tuples, strings, integers)

# Mutable Example (List)
my_list = [1, 2, 3]
my_list[0] = 10  #  This is allowed
print(my_list)  # Output: [10, 2, 3]

# Immutable Example (Tuple)
my_tuple = (1, 2, 3)
my_tuple[0] = 10   #This will give an error
print(my_tuple)

[10, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [81]:
# 3. Difference Between Lists and Tuples

# List Example
my_list = [1, 2, 3]
my_list.append(4)  # Can modify
print(my_list)

# Tuple Example
my_tuple = (1, 2, 3)
my_tuple.append(4) # Will give an error

[1, 2, 3, 4]

AttributeError: 'tuple' object has no attribute 'append'

In [60]:
# 4. How Do Dictionaries Store Data?

#Dictionaries store data in key-value pairs like a phonebook.
# Dictionary Example
student = {"name": "Alice", "age": 25}
print(student["name"])  # Output: Alice

Alice

In [61]:
# 5. Why Use a Set Instead of a List?

# Sets remove duplicates and faster lookup
# List Example (Allows duplicates)
my_list = [1, 2, 2, 3]
print(my_list)  # Output: [1, 2, 2, 3]

# Set Example (No duplicates)
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

[1, 2, 2, 3]
{1, 2, 3}

In [63]:
# 6. What is a String and How is it Different from a List?

#Strings are immutable (cannot be changed), lists are mutable

# String Example (Immutable)
my_string = "Hello"
# my_string[0] = "J"   This will cause an error

# List Example (Mutable)
my_list = ["H", "e", "l", "l", "o"]
my_list[0] = "J"  # This is allowed
print(my_list)  # Output: ['J', 'e', 'l', 'l', 'o']

['J', 'e', 'l', 'l', 'o']

In [64]:
# 7. How Do Tuples Ensure Data Integrity?

# Tuples cannot be modified, making them secure for storing important data
my_tuple = (10, 20, 30)
my_tuple[0] = 100  This will give an error

SyntaxError: invalid syntax (<ipython-input-64-bbafdad26297>, line 5)

In [65]:
# 8. What is a Hash Table and How Does It Relate to Dictionaries?

# A hash table stores key-value pairs using a hashing function.
# Dictionaries in Python use hash tables, making them very fast.

# Dictionary (Uses Hash Table)
student = {"name": "John", "age": 21}
print(student["name"])  # Output: John

John

In [66]:
# 9. Can Lists Contain Different Data Types?

# Yes, lists can store mixed data types.
my_list = [10, "Hello", 3.14, True]
print(my_list)  # Output: [10, 'Hello', 3.14, True]

[10, 'Hello', 3.14, True]

In [67]:
# 10. Why are Strings Immutable in Python?

# Performance & Security reasons.
# Used as dictionary keys since they cannot change.

In [68]:
# 11. Advantages of Dictionaries Over Lists.

# Fast lookup (O(1) time complexity).
# Key-value mapping for better data organization.

# Dictionary Lookup (Fast)
students = {"Alice": 90, "Bob": 85}
print(students["Alice"])  # Output: 90

# List Lookup (Slower)
students_list = [("Alice", 90), ("Bob", 85)]
for student in students_list:
    if student[0] == "Alice":
        print(student[1])  # Output: 90

90
90

In [69]:
# 12. When to Use Tuples Instead of Lists?

# Use tuples when data should not change, e.g., coordinates (x, y).
coordinates = (40.7128, -74.0060)  # Latitude, Longitude

In [82]:
# 13. How Do Sets Handle Duplicates?

# Sets automatically remove duplicates.
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

In [71]:
# 14. How Does the "in" Keyword Work for Lists and Dictionaries?

# Lists: Searches through the entire list (O(n) time complexity).
# Dictionaries: Checks only the keys (O(1) time complexity).
# List Search (Slower)
my_list = [1, 2, 3]
print(2 in my_list)  # Output: True

# Dictionary Search (Faster)
my_dict = {"name": "Alice", "age": 25}
print("name" in my_dict)  # Output: True

True
True

In [74]:
# 15. Can You Modify Tuple Elements?

# No, tuples are immutable.
my_tuple = (10, 20, 30)

my_tuple[0] = 100  #Error: Tuples cannot be modified

TypeError: 'tuple' object does not support item assignment

In [75]:
# 16. What is a Nested Dictionary?

# A dictionary inside another dictionary.
students = {
    "Alice": {"math": 90, "science": 85},
    "Bob": {"math": 80, "science": 88}
}
print(students["Alice"]["math"])  # Output: 90

90

In [76]:
# 17. Time Complexity of Accessing Dictionary Elements
# O(1) (Constant Time) due to hashing.

In [78]:
# 18. When to Use Lists Over Dictionaries?
# When order matters and fast lookups are not required.

fruits = ["apple", "banana", "cherry"]

In [79]:
# 19. Why Are Dictionaries Unordered?
# Before Python 3.7, dictionaries did not preserve order.
# From Python 3.7 onward, dictionaries maintain insertion order.

my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3} (Maintains order)

{'a': 1, 'b': 2, 'c': 3}

In [80]:
# 20. Difference Between Lists and Dictionaries in Data Retrieval
# Lists: Use indexing.
# Dictionaries: Use keys.

# List (Uses Index)
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # Output: banana

# Dictionary (Uses Key)
fruit_prices = {"apple": 100, "banana": 50}
print(fruit_prices["banana"])  # Output: 50

banana
50

PRACTICLE QUESTION

In [1]:
# Write a code to create a string with your name and print it.
a = "Gavish Kapoor"
print(a)

Gavish Kapoor

In [2]:
# Write a code to find the length of the string "Hello World".
b = "Hello World"
print(len(b))

11

In [4]:
# Write a code to slice the first 3 characters from the string "Python Programming".
c ="Python Programming"
c[0:3]

'Pyt'

In [9]:
# Write a code to convert the string "hello" to uppercase.
"hello".upper()

'HELLO'

In [10]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
a="I like apple"
a.replace("apple","orange")

'I like orange'

In [11]:
# Write a code to create a list with numbers 1 to 5 and print it.
d=[1,2,3,4,5]
print(d)

[1, 2, 3, 4, 5]

In [12]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].
l=[1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [13]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
l=[1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [14]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
l1=['a', 'b', 'c', 'd']
l1[2]

'c'

In [18]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
L=[10, 20, 30, 40, 50]
L.reverse()
print(L)

[50, 40, 30, 20, 10]

In [19]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100, 200, 300)
print(t)

(100, 200, 300)

In [21]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t1=('red', 'green', 'blue', 'yellow')
t1[2:]

('blue', 'yellow')

In [22]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a=(10, 20, 5, 15)
min(a)

5

In [23]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
b=('dog', 'cat', 'rabbit')
b.index('cat')

1

In [24]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
x=("apple","strawberry","kiwi")
"kiwi" in x

True

In [25]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [27]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
y={1, 2, 3, 4, 5}
y.clear()
y

set()

In [28]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s1={1, 2, 3, 4}
s1.remove(4)
print(s1)

{1, 2, 3}

In [30]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1, 2, 3}
s2={3, 4, 5}
s1|s2

{1, 2, 3, 4, 5}

In [31]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1, 2, 3}
s2={2, 3, 4}
s1&s2

{2, 3}

In [34]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"name":"John","age":25,"city":"New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [39]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d={"name":"John","age":25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic={'name': 'Alice', 'age': 30}
dic['name']

'Alice'

In [42]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
del a['age']
print(a)

{'name': 'Bob', 'city': 'New York'}

In [43]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d={'name': 'Alice', 'city': 'Paris'}
'city'in d

True

In [44]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all.


# create list
my_list = [1, 1.1, 4+4j, "apple", True]

# create tuple
my_tuple = (1, 1.1, 4+4j, "apple", True)

# create dictionary
my_dict={"name":"John","age":25,"city":"New York"}


print("list:",my_list)
print("tuple:",my_tuple)
print("dictionary:",my_dict)

list: [1, 1.1, (4+4j), 'apple', True]
tuple: (1, 1.1, (4+4j), 'apple', True)
dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [51]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [27, 34, 41, 70, 80]

In [52]:
#  Write a code to create a list with strings and print the element at the third index.


string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at third index:", string_list[3])

Element at third index: date

In [54]:
# Write a code to combine two dictionaries into one and print the result.

d1 = {"a": 1, "b": 2, "c": 3}
d2 = {"d": 4, "e": 5, "f": 6}

d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [55]:
#  Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "cherry", "apple", "banana"]

string_set = set(string_list)

print("Set of unique strings:", string_set)

Set of unique strings: {'cherry', 'banana', 'apple'}